.userHistory{
    margin: 0 7px;
    width: 75px;
    height: auto;

    & button{
        width: 75px;
        border: none;
        background: none;

        & .userHistory__image{
            padding: 2px;
            width: 100%;
            border-radius: 100%;
            background: rgb(252,175,69);
            background: linear-gradient(45deg, rgba(252,175,69,1) 0%, rgba(225,48,108,1) 50%, rgba(193,53,132,1) 75%, rgba(131,58,180,1) 100%);

            & img{
                padding: 2px;
                width: 100%;
                height: 70px;
                background: #fff;
                border-radius: 100%;
            }
        }

        & .userHistory__name{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 14px;
            max-width: 75px;
            width: 100%;
            height: auto;
        }
    }
}