.App{
    margin: 0;
    background: rgb(247, 247, 247);
}

.app_container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding: 85px 0 0;
    max-width: 950px;
    width: 100%;
    z-index: 3;
}

@media (max-width: 1000px){
    .pubs_and_histories{
        margin: 0 auto;
    }

    .options{
        display: none;
    }
}