.description__infoPublication{
    margin: 0 0;
    padding: 0 15px 10px;
    width: 100%;
    text-align: start;
}

.description__infoPublication__actions{
    display: flex;
    width: 100%;
    height: 40px;
}

.description__infoPublication__actions .action{
    margin: 0 15px 0 0;
    width: 25px;
    border: none;
    background: none;
}

.description__infoPublication__actions .action.save{
    margin: 0 0 0 auto;
}

.description__infoPublication__actions .action img{
    width: 100%;
}

.description__infoPublication__message .name{
    font-size: 14px;
    font-weight: bolder;
    word-break: break-all;
    color: #383838;
}

.description__infoPublication__message .message{
    font-size: 14px;
    word-break: break-all;
    color: #383838;
}